<% include ../partials/header %>

<h1 class="display-4">Artists Page</h1>
<a class="btn btn-lg btn-primary rounded-pill" href="/artists/new">Create New Artist</a>

<div class="row text-center" style="display: flex; flex-wrap: wrap; padding-top: 20px">
    <% artists.forEach(function(artist){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <a href="/artists/<%=artist._id%>"><img style="width: 200px" src="<%=artist.imageUrl%>"></a>
                <div class="caption">
                    <a href="/artists/<%=artist._id%>"><h6 style="color: black"><%=artist.name%></h6></a>
                </div>
            </div>
        </div>
    <%})%>
</div>

<h1>test</h1>

<% include ../partials/footer %>